body {
  text-align: center;
  height: 100%;
  margin-top: 50px;
}

h1 {
  font-family: 'Press Start 2P';
}

h1:hover {
  font-weight: bold;
}

#h_icon {
  size: 200px;
}

button:click {
  size: 60px;
}

button:hover {
  font-family: 'Press Start 2P', monospace;
}


.userInfo {
  border: 2px solid;
  min-height: 200px;
  min-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  border-radius : 10px;
  margin-bottom : 5px;
}

.userInfo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

#imgLogo{
    max-height: 60px;
    max-width: 60px;
    border-radius: 50%;
    border-style: solid;
}

.online{
    color: green;
    size: medium;
    font-family: monospace;
}

.Offline{
    color: red;
    border-color: red;
}
